*::-webkit-scrollbar{
    display: none;
}

/* WAREHOUSE */
.header{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 200px;
  justify-content: center;
  text-align: center;
}

main{
    width: 100%;
}

.page{
    width: 100%;
    display: flex;
    justify-content: center;
}

.page a{
    margin: 20px 50px 0;
    padding: 10px 20px;
    background-color: rgb(228, 132, 7);
    border-radius: 10px;
}

.page a:hover{
    cursor: pointer;
    background-color: #0D63A5;
    transition: 0.5 ease-in-out;
}

.header h1, .header p{
  color: #4FBDBA;
}

hr {
    border: 1px solid #ffffff85; /* Ketebalan garis */
    margin: 20px 0; /* Jarak atas dan bawah */
    width: 90%; /* Panjang hr */
    margin-left: 5%;
}

/* title */
.title{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.title form{
    display: flex;
    width: 50%;
    justify-content: end;
}

.gap{
    margin-left: 30px;
}


/* TABLE */
.tableContainer{
    width: 100%;
 
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.backgroundTabel{
    width: 80%;
    background-color: rgba(100, 100, 100, 0.267);
    height: 350px;
    overflow-y: scroll;
    border-radius: 10px;
}

.tableHistori{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.tableHistori thead tr{
    background-color: #4FBDBA;
}

tr{
    border-bottom: 2px solid rgba(223, 223, 223, 0.267);;
}

thead{
    position: sticky;
    top: 0;
}

th, td{
    padding: 10px;
}


.form-container{
    display: flex;
    width: 97%;
    justify-content: center;
    padding: 20px;
}

.cardBoarder{
    background-color: rgba(100, 100, 100, 0.267);
    padding: 30px;
    display: flex;
    width: 70%;
    border-radius: 20px;
}

.formCard{
    width: 500px;
    background-color: #0D63A5;
    padding: 10px;
    border-radius: 10px;

}

input{
    color: black;
}

.btnForm{
    margin: auto;
    margin-top: 10px;
    display: block;
    padding: 5px 8px;
    background-color: rgb(228, 132, 7);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
}

.form-group{
    display: flex;
    flex-direction: column;
}

/* table detail */
.cardTableDetail{
    flex-grow: 1;
    height: 300px;
    overflow-y: scroll;
}

.backgroundTabel{
    display: flex;
}

.tableDetail{
    background-color: white;
    text-align: center;
    width: 85%;
    margin-left: 10%;
    border-collapse: collapse;
}

.tableDetail thead{
    background-color: #4FBDBA;
}

.tableDetail td{
    color: black;
}

.btnSubmit{
    padding: 5px 15px;
    background-color: #0D63A5;
    border-radius: 10px;
    border: none;
    color: white;
}

.btnSubmit:hover{
    cursor: pointer;
    background-color: #ffab2d;
    transition: 0.5 ease-in-out;
}