.content-home,
.content-lihatbuku,
.content-lihatanggota {
  text-align: center;
  color: white;
  padding-top: 100px;
}

.content-about {
  text-align: center;
  color: white;
  padding-top: 100px;
}

.content-home h1,
.content-about h1,
.content-lihatbuku h1,
.content-lihatanggota h1 {
  font-size: 30px;
}

.content-home p,
.content-about p,
.content-lihatbuku p,
.content-lihatanggota p {
  font-weight: 10;
}

.home,
.lihatbuku,
.lihatanggota {
  background-color: black;
  height: 590px;
}

.updateanggota,
.peminjaman {
  background-color: white;
}
.about {
  background-image: url(img/background.jpg);
  height: 662px;
  background-size: cover;
}

footer {
  background-color: black;
}

footer p {
  color: white;
  text-align: center;
}
